
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gallery.plugin.galleryplugin">
  <application
      android:allowBackup="true"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name="com.gallery.plugin.GalleryMainActivity"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>
  </application>
</manifest>
